.Kitchen {
    background: center center no-repeat;
    background-image: url("../../images/black.png");
    color: #fffffc;
    padding-top: 49px;
    padding-bottom: 136px;
      background-size: cover;
  
  }
  
  .Kitchen .items {
  height: 95vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  }